## Deliverable 3. Create a Travel Itinerary Map.

In [6]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [7]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv(r'C:\Users\Karen\OneDrive\Desktop\UFT Data Analytics\Module 6 - WeatherPy\World_Weather_Analysis\Vacation_Search\WeatherPy_vacation.csv')
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Georgetown,MY,78.75,moderate rain,5.4112,100.3354,Cititel Penang
1,3,Atuona,PF,77.86,clear sky,-9.8000,-139.0333,Villa Enata
2,8,Praya,CV,77.54,broken clouds,14.9215,-23.5087,LT Aparthotel
3,9,Butaritari,KI,82.42,light rain,3.0707,172.7902,Isles Sunset Lodge
4,17,Padang,ID,76.24,overcast clouds,-0.9492,100.3543,Mercure Padang

In [9]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
clean_hotel_df = pd.DataFrame(vacation_df)
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [10]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Meulaboh"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Meulaboh"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Sibolga"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Padang"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Bengkulu"]

In [15]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()
end = vacation_end.to_numpy()
stop1 = vacation_stop1.to_numpy()
stop2 = vacation_stop2.to_numpy()
stop3 = vacation_stop3.to_numpy()

start = start[0,5], start[0,6]
end = end[0,5], end[0,6]
stop1 = stop1[0,5], stop1[0,6]
stop2 = stop2[0,5], stop2[0,6]
stop3 = stop3[0,5], stop3[0,6]

In [16]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

import gmaps.datasets

fig = gmaps.figure()
route = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(route)
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,350,Meulaboh,ID,75.83,overcast clouds,4.1363,96.1285,Kost Pria
1,532,Sibolga,ID,75.13,overcast clouds,1.7427,98.7792,Hotel Syariah CN Darussalam
2,17,Padang,ID,76.24,overcast clouds,-0.9492,100.3543,Mercure Padang
3,87,Bengkulu,ID,76.17,light rain,-3.8004,102.2655,Grage Hotel Bengkulu

In [18]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))